<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" href="../../img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" href="../../img/favicon-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="../../img/favicon-180x180.png" />
  <meta name="msapplication-TileImage" content="../../img/favicon-270x270.png" />
  {{#if title}}
  <title>{{ title }}</title>
  {{else}}
  <title>WEB to PDF</title>
  {{/if}}
  <!-- FONTS -->
  <link
    href="https://fonts.googleapis.com/css?family=Karla:400,400i,700|Poppins:300,400,400i,600|Source+Sans+Pro:400,400i,600,700,900|Mukta:400,700,800|Oswald:400,600|Lato:400,400i,700|Roboto:300,400,500,700|Roboto+Slab:400,700|Playfair+Display:400,400i,700i,700|Catamaran:300,400,500,600,700,900|Merriweather:400,700|Montserrat:400,500,600|Nunito|Open+Sans:300,400,500,600|Caveat:400,700|Dancing+Script|Libre+Baskerville:400,700"
    rel="stylesheet">
  <!-- STYLES -->
  <!-- Main Style -->
  <link rel="stylesheet" id="style-main" href="../../css/styles-main.css?v=3">
  <link rel="stylesheet" id="swiper-main" href="../../vendors/swiper/swiper.min.css">
  <link rel="stylesheet" id="lity-main" href="../../vendors/lity/lity.min.css">
  <link rel="stylesheet" id="mediaelementplayer" href="../../vendors/mediaelement/mediaelementplayer.min.css">
  <link rel="stylesheet" id="range" href="../../vendors/range/jquery.range.css">
  <link rel="stylesheet" id="lightgallery" href="../../vendors/lightgallery/lightgallery.min.css">
  <link rel="stylesheet" id="style-link" href="../../css/styles-15.css?v=35">
  <!-- SCRIPTS -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.3.0.js"
    integrity="sha256-/Gj+NlY1u/J2UGzM/B2QrWR01trK8ZZqrD5BdqQUsac=" crossorigin="anonymous"></script>
  <!-- Swiper -->
  <script src="../../vendors/swiper/swiper.min.js"></script>
  <!-- Isotope -->
  <script src="../../vendors/isotope/isotope.pkgd.min.js"></script>
  <!-- Images loaded library -->
  <script src="../../vendors/lazyload/imagesloaded.pkgd.min.js"></script>
  <!-- MediaElement js library (only for Aheto HTML) -->
  <script src="../../vendors/mediaelement/mediaelement.min.js"></script>
  <script src="../../vendors/mediaelement/mediaelement-and-player.min.js"></script>
  <!-- Typed animation text -->
  <script src="../../vendors/typed/typed.min.js"></script>
  <!-- Lity Lightbox -->
  <script src="../../vendors/lity/lity.min.js"></script>
</head>

<body data-anm=".anm" class="">
  <header
    class="aheto-header main-header main-header--horizontal main-header--left-logo main-header--center-nav main-header--white ">
    <div class="main-header__nav-wrap">
      <div class="main-header__menu-wrap">
        <div class="main-header__fluid-container no-lr-padd-sm">
          <div class="main-header__main-line">
            <a href="/" class="aheto-logo aheto-logo--dark main-header__logo">
              <img src="../../img/home/footer-logo-11.png" class="aheto-logo__image logo-blue" alt="">
              <img src="../../img/home/logo_w.png" class="aheto-logo__image logo-white" alt="">
              <h1 class="aheto-logo__text">WEB2PDF</h1>
            </a>
            <div class="main-header__menu-box">
              <nav class="menu-home-page-container">
                <ul
                  class="main-menu main-menu--mobile-view  main-menu--dark main-menu--inline main-menu--ci-line-abow main-menu--ddt-default main-menu--ddc-white">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item--mega-menu ">
                    <a href="/">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item--mega-menu ">
                    <a href="https://github.com/dluccajose/node-web-to-pdf">Github</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="wpml-ls-sidebars-sidebar-1 wpml-ls wpml-ls-legacy-dropdown js-wpml-ls-legacy-dropdown">
            </div>
            <div class="col-2"></div>
            <button class="hamburger hamburger--squeeze main-header__hamburger js-toggle-mobile-menu" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    {{{ body }}}
  </div>
  <footer class="aheto-footer aheto-footer-15">
    <div class="aheto-footer-15__main">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="aht-socials aht-socials--circle text-center">
              <a class="aht-socials__link aht-btn--dark aht-btn--trans " href="https://github.com/dluccajose/node-web-to-pdf/">
                <i class="aht-socials__icon icon ion-social-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="aheto-footer-15__bottom">
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <div class="aheto-footer-15__cr margin-lg-40t margin-lg-40b margin-sm-0b">
              <p class="aheto-footer-15__cr-text ">© DluccaApps.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 text-right">
            <div class="aheto-footer-menu margin-lg-40t margin-lg-40b margin-sm-20t">
              <nav class="menu-main-container">
                <ul class="main-menu">
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Inicio</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="site-search" id="search-box">
    <button class="close-btn js-close-search"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="form-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <form role="search" method="get" class="search-form" action="http://ahetopro/" autocomplete="off">
              <div class="input-group">
                <input type="search" value="" name="s" class="search-field" placeholder="Enter Keyword" required="">
              </div>
            </form>
            <p class="search-description">Input your search keywords and press Enter.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Magnific popup -->
  <script src="../../vendors/magnific/jquery.magnific-popup.min.js"></script>
  <!-- anm -->
  <script src="../../vendors/animation/anm.min.js"></script>
  <!-- FullCalendar -->
  <!-- Parallax -->
  <script src="../../vendors/parallax/parallax.min.js"></script>
  <!-- asRange -->
  <script src="../../vendors/range/jquery.range-min.js"></script>
  <!-- lightgallery -->
  <script src="../../vendors/lightgallery/lightgallery.min.js"></script>
  <!-- Main script -->
  <script src="../../vendors/script.js?v=1"></script>
  <script src="../../vendors/spectragram/spectragram.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C7XW50XKF6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C7XW50XKF6');
  </script>
</body>

</html>