<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" href="../../img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" href="../../img/favicon-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="../../img/favicon-180x180.png" />
  <meta name="msapplication-TileImage" content="../../img/favicon-270x270.png" />
  <title>Service simple</title>
  <!-- FONTS -->
  <link
    href="https://fonts.googleapis.com/css?family=Karla:400,400i,700|Poppins:300,400,400i,600|Source+Sans+Pro:400,400i,600,700,900|Mukta:400,700,800|Oswald:400,600|Lato:400,400i,700|Roboto:300,400,500,700|Roboto+Slab:400,700|Playfair+Display:400,400i,700i,700|Catamaran:300,400,500,600,700,900|Merriweather:400,700|Montserrat:400,500,600|Nunito|Open+Sans:300,400,500,600|Caveat:400,700|Dancing+Script|Libre+Baskerville:400,700"
    rel="stylesheet">
  <!-- STYLES -->
  <!-- Main Style -->
  <link rel="stylesheet" id="style-main" href="../../css/styles-main.css?v=3">
  <link rel="stylesheet" id="swiper-main" href="../../vendors/swiper/swiper.min.css">
  <link rel="stylesheet" id="lity-main" href="../../vendors/lity/lity.min.css">
  <link rel="stylesheet" id="mediaelementplayer" href="../../vendors/mediaelement/mediaelementplayer.min.css">
  <link rel="stylesheet" id="range" href="../../vendors/range/jquery.range.css">
  <link rel="stylesheet" id="lightgallery" href="../../vendors/lightgallery/lightgallery.min.css">
  <link rel="stylesheet" id="style-link" href="../../css/styles-15.css?v=35">
  <!-- SCRIPTS -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.3.0.js"
    integrity="sha256-/Gj+NlY1u/J2UGzM/B2QrWR01trK8ZZqrD5BdqQUsac=" crossorigin="anonymous"></script>
  <!-- Swiper -->
  <script src="../../vendors/swiper/swiper.min.js"></script>
  <!-- Isotope -->
  <script src="../../vendors/isotope/isotope.pkgd.min.js"></script>
  <!-- Images loaded library -->
  <script src="../../vendors/lazyload/imagesloaded.pkgd.min.js"></script>
  <!-- MediaElement js library (only for Aheto HTML) -->
  <script src="../../vendors/mediaelement/mediaelement.min.js"></script>
  <script src="../../vendors/mediaelement/mediaelement-and-player.min.js"></script>
  <!-- Typed animation text -->
  <script src="../../vendors/typed/typed.min.js"></script>
  <!-- Lity Lightbox -->
  <script src="../../vendors/lity/lity.min.js"></script>
</head>

<body data-anm=".anm" class="">
  <header
    class="aheto-header main-header main-header--horizontal main-header--left-logo main-header--center-nav main-header--white ">
    <div class="main-header__nav-wrap">
      <div class="main-header__menu-wrap">
        <div class="main-header__fluid-container no-lr-padd-sm">
          <div class="main-header__main-line">
            <a href="../../karma/index.html" class="aheto-logo aheto-logo--dark main-header__logo">
              <img src="../../img/home/footer-logo-11.png" class="aheto-logo__image logo-blue" alt="">
              <img src="../../img/home/logo_w.png" class="aheto-logo__image logo-white" alt="">
              <h1 class="aheto-logo__text">Karma</h1>
            </a>
            <div class="main-header__menu-box">
              <nav class="menu-home-page-container">
                <ul
                  class="main-menu main-menu--mobile-view  main-menu--dark main-menu--inline main-menu--ci-line-abow main-menu--ddt-default main-menu--ddc-white">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item--mega-menu ">
                    <a href="../../karma/index.html">Home</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="#">Pages</a>
                    <div class="sub-menu menu-depth-1 mega-menu">
                      <div class="mega-menu__col">
                        <h4 class="mega-menu__title">Elements 01</h4>
                        <ul class="mega-menu__list">
                          <li class="menu-item"><a href="../../karma/about/about-classic.html">About
                              classic</a></li>
                          <li class="menu-item"><a href="../../karma/about/about-simple.html">About simple</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/about/about-modern.html">About modern</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/service/service-classic.html">Service
                              classic</a></li>
                          <li class="menu-item"><a href="../../karma/service/service-simple.html">Service
                              simple</a></li>
                          <li class="menu-item"><a href="../../karma/service/service-modern.html">Service
                              modern</a></li>
                          <li class="menu-item"><a href="../../karma/service/service-details.html">Service
                              details</a></li>
                          <li class="menu-item"><a href="../../karma/forum/forum.html">Forum</a></li>
                          <li class="menu-item"><a href="../../karma/forum/forum-category.html">Forum
                              category</a></li>
                          <li class="menu-item"><a href="../../karma/page-template/page-fullwidth.html">Page
                              fullwidth</a></li>
                          <li class="menu-item"><a href="../../karma/page-template/page-2-sidebars.html">Page 2
                              sidebar</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu__col">
                        <h4 class="mega-menu__title">Elements 02</h4>
                        <ul class="mega-menu__list">
                          <li class="menu-item"><a href="../../karma/additional-page/author-bio.html">Author
                              bio</a></li>
                          <li class="menu-item"><a href="../../karma/additional-page/coming-soon.html">Coming
                              soon</a></li>
                          <li class="menu-item"><a href="../../karma/additional-page/search-results.html">Search
                              results</a></li>
                          <li class="menu-item"><a href="../../karma/additional-page/404-page.html">404
                              page</a></li>
                          <li class="menu-item"><a href="../../karma/pricing/pricing-01.html">Pricing 01</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/pricing/pricing-02.html">Pricing 02</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/pricing/pricing-03.html">Pricing 03</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/FAQ/faq.html">F.A.Q.</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/forum/forum-single.html">Forum single</a>
                          </li>
                          <li class="menu-item"><a href="../../karma/page-template/page-left-sidebar.html">Page
                              left sidebar</a></li>
                          <li class="menu-item"><a href="../../karma/page-template/page-right-sidebar.html">Page
                              right sidebar</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="#">Portfolio</a>
                    <ul class="sub-menu menu-depth-1">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-metro.html">Portfolio
                          metro</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-grid.html">Portfolio grid</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-masonry.html">Portfolio
                          masonry</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-new.html">Portfolio new</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-01.html">Portfolio
                          details 01</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-02.html">Portfolio
                          details 02</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-03.html">Portfolio
                          details 03</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-04.html">Portfolio
                          details 04</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-05.html">Portfolio
                          details 05</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-06.html">Portfolio
                          details 06</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/portfolio/portfolio-details-07.html">Portfolio
                          details 07</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu menu-depth-1">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/blog-metro.html">Blog metro</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/blog-grid.html">Blog grid</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/blog-centered.html">Blog centered</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/blog-small.html">Blog small</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/blog-masonry.html">Blog masonry</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/single-post-fullwidth.html">Single post
                          fullwidth</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/single-post-with-right-sidebar.html">Single
                          post with right sidebar</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/single-post-with-left-sidebar.html">Single
                          post with left sidebar</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/blog/single-post-with-two-sidebars.html">Single
                          post with two sidebar</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="#">Shop</a>
                    <ul class="sub-menu menu-depth-1">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/shop/shop.html">Shop</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/shop/product-details.html">Product details</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/shop/checkout.html">Checkout</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/shop/cart.html">Cart</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a href="#">Contact</a>
                    <ul class="sub-menu menu-depth-1">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/contact/contact-simple.html">Contact simple</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/contact/contact-modern.html">Contact modern</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/contact/contact-sidebar.html">Contact sidebar</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                          href="../../karma/contact/contact-multi-locations.html">Contact
                          multi locations</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="wpml-ls-sidebars-sidebar-1 wpml-ls wpml-ls-legacy-dropdown js-wpml-ls-legacy-dropdown">
              <ul>
                <li tabindex="0"
                  class="wpml-ls-slot-sidebar-1 wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-first-item wpml-ls-item-legacy-dropdown">
                  <a href="#" class="js-wpml-ls-item-toggle wpml-ls-item-toggle">
                    <img class="wpml-ls-flag" src="../../img/home/multilang/flag-2.png" alt="en" title="English">
                    <span class="wpml-ls-native">English <i class="icon ion-chevron-down"></i></span>
                  </a>
                  <ul class="wpml-ls-sub-menu">
                    <li class="wpml-ls-slot-sidebar-1 wpml-ls-item wpml-ls-item-de">
                      <a href="#">
                        <img class="wpml-ls-flag" src="../../img/home/multilang/flag-3.jpg" alt="sp" title="Spanish">
                        <span class="wpml-ls-native">Spanish</span>
                      </a>
                    </li>
                    <li class="wpml-ls-slot-sidebar-1 wpml-ls-item wpml-ls-item-ru wpml-ls-last-item">
                      <a href="#">
                        <img class="wpml-ls-flag" src="../../img/home/multilang/flag-1.png" alt="fr" title="French">
                        <span class="wpml-ls-native">French</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <ul class="icons-widget main-header__icons">
              <li class="icons-widget__item">
                <a class="icons-widget__link search-btn js-open-search" href="#">
                  <i class="icon ion-ios-search-strong" aria-hidden="true"></i>
                </a>
              </li>
              <li class="icons-widget__item">
                <a class="icons-widget__link" href="#">
                  <i class="icon ion-bag" aria-hidden="true"></i>
                  <span class="button-number">0</span>
                </a>
              </li>
            </ul>
            <button class="hamburger hamburger--squeeze main-header__hamburger js-toggle-mobile-menu" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    {{{ body }}}
  </div>
  <footer class="aheto-footer aheto-footer-15">
    <div class="aheto-footer-15__main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget_aheto ">
              <div class="widget_aheto__logo">
                <img src="../../img/home/footer-logo-1.png" alt="footer">
              </div>
              <div class="widget_aheto__infos">
                <p class="widget_aheto__info widget_aheto__info--address">
                  <i class="widget_aheto__icon icon ion-android-map"></i>
                  Grand Conference Hall - 881 7th Ave New York, NY
                </p>
                <p class="widget_aheto__info widget_aheto__info--tel">
                  <i class="widget_aheto__icon icon ion-android-call"></i>
                  <a class="widget_aheto__link" href="tel:+1805737800">+ 1805 73 78 00</a>
                </p>
                <p class="widget_aheto__info widget_aheto__info--mail">
                  <i class="widget_aheto__icon icon ion-android-mail"></i>
                  <a class="widget_aheto__link" href="mailto:info@karma.com">info@karma.com</a>
                </p>
              </div>
            </div>
            <div class="aht-socials aht-socials--circle">
              <a class="aht-socials__link aht-btn--dark aht-btn--trans " href="https://www.facebook.com/">
                <i class="aht-socials__icon icon ion-social-facebook"></i>
              </a>
              <a class="aht-socials__link aht-btn--dark aht-btn--trans " href="https://twitter.com/">
                <i class="aht-socials__icon icon ion-social-twitter"></i>
              </a>
              <a class="aht-socials__link aht-btn--dark aht-btn--trans " href="https://www.tumblr.com">
                <i class="aht-socials__icon icon ion-social-tumblr"></i>
              </a>
              <a class="aht-socials__link aht-btn--dark aht-btn--trans " href="https://www.youtube.com/">
                <i class="aht-socials__icon icon ion-social-youtube"></i>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget_nav_menu widget_nav_menu_2">
              <h2 class="widget-title">Extra links</h2>
              <div class="menu-main-container">
                <ul class="menu">
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">About</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">News</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Contacts</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Testimonials</a>
                  </li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Typography</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Services</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Careers</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Our Team</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Shop</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget_recent_entries widget_recent_entries_2">
              <h2 class="widget-title">Latest Events</h2>
              <ul>
                <li>
                  <div class="widget-img bgsize-cover">
                    <img class="js-bg" src="../../img/education/image-1.png" alt="footer">
                  </div>
                  <div class="widget-text">
                    <a href="#">Using Technology in School</a>
                    <span class="post-date">Jul 25, 2019</span>
                  </div>
                </li>
                <li>
                  <div class="widget-img bgsize-cover">
                    <img class="js-bg" src="../../img/education/image-2.png" alt="footer">
                  </div>
                  <div class="widget-text">
                    <a href="#">Social Media in our Daily Life</a>
                    <span class="post-date">Jul 25, 2019</span>
                  </div>
                </li>
                <li>
                  <div class="widget-img bgsize-cover">
                    <img class="js-bg" src="../../img/education/image-3.png" alt="footer">
                  </div>
                  <div class="widget-text">
                    <a href="#">Understand Users’ Behaviours</a>
                    <span class="post-date">Jul 25, 2019</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <section class="widget widget_mc4wp_form_widget aheto_mc_1">
              <h2 class="widget-title">Subscribe</h2>
              <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-223" method="post" data-id="223" data-name="Email">
                <div class="mc4wp-form-fields"><input type="email" name="EMAIL" placeholder="Your Email" required="">
                  <input type="submit" value="SUBSCRIBE">
                </div>
                <p>Get latest updates and offers.</p>
                <label style="display: none !important;">Leave this field empty if you're human: <input type="text"
                    name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden"
                  name="_mc4wp_timestamp" value="1526996980"><input type="hidden" name="_mc4wp_form_id"
                  value="223"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                <div class="mc4wp-response"></div>
              </form>
              <!-- / MailChimp for WordPress Plugin -->
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="aheto-footer-15__bottom">
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <div class="aheto-footer-15__cr margin-lg-40t margin-lg-40b margin-sm-0b">
              <p class="aheto-footer-15__cr-text ">© Karma Business. All Right Reserved 2019.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 text-right">
            <div class="aheto-footer-menu margin-lg-40t margin-lg-40b margin-sm-20t">
              <nav class="menu-main-container">
                <ul class="main-menu">
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Privacy</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Terms</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Site Map</a></li>
                  <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#">Purchase</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="site-search" id="search-box">
    <button class="close-btn js-close-search"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="form-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <form role="search" method="get" class="search-form" action="http://ahetopro/" autocomplete="off">
              <div class="input-group">
                <input type="search" value="" name="s" class="search-field" placeholder="Enter Keyword" required="">
              </div>
            </form>
            <p class="search-description">Input your search keywords and press Enter.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Magnific popup -->
  <script src="../../vendors/magnific/jquery.magnific-popup.min.js"></script>
  <!-- anm -->
  <script src="../../vendors/animation/anm.min.js"></script>
  <!-- Google maps -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARwCmK-LlGIH8Mv1ac4VyceMYUgg9vStM&amp;#038;&language=en"></script>
  <script src="../../vendors/googlemap/google-maps.js?v=1"></script>
  <!-- FullCalendar -->
  <!-- Parallax -->
  <script src="../../vendors/parallax/parallax.min.js"></script>
  <!-- asRange -->
  <script src="../../vendors/range/jquery.range-min.js"></script>
  <!-- lightgallery -->
  <script src="../../vendors/lightgallery/lightgallery.min.js"></script>
  <!-- Main script -->
  <script src="../../vendors/script.js?v=1"></script>
  <script src="../../vendors/spectragram/spectragram.min.js"></script>
  <script>
    $(document).ready(function () {
      jQuery.fn.spectragram.accessData = {
        accessToken: '4058508404.1677ed0.f87c0182df0d4512a9e01def0c53adb7'
      }

      $('.instafeed').spectragram('getUserFeed', {
        size: 'big',
        max: 6
      });
    });
  </script>
</body>

</html>