<style>
  .aheto-titlebar__input form input[type="submit"]:disabled {
    background-color: #888;
  }
</style>

<div class="aheto-titlebar aheto-titlebar--height-600">
  <div class="aheto-titlebar__main   ">
    <img class="js-bg" alt="" src="../../img/home-content-bg.webp">
    <div class="aheto-titlebar__overlay   "></div>
    <div class="aheto-titlebar__content w-800">
      <div class="aheto-titlebar__text ">
        <h2 class="aheto-titlebar__title  t-white t-light t-center  ">&nbsp;<br>Convierte cualquier
          pagina en un documento PDF</h2>
      </div>
      <div class="aheto-titlebar__input">
        <form role="search" method="POST" id="searchform" action="/pdf">

          <label class="screen-reader-text" for="s">Convertir: </label>
          <input type="text" value="" name="url" placeholder="URL..." required />
          <input type="submit" id="searchsubmit" value="Convertir" />
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $('#searchform').submit(function () {
    console.log(123)
    $('#searchsubmit').prop('disabled', true)
    $('#searchsubmit').val('Convirtiendo...')
  })
</script>